@using ASP.Server.Model
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="listeBooks">
    <h1>Liste des livres:</h1>
    <ul>
        @foreach (var book in Model)
        {
            <li>
                <h2>@book.Nom</h2>
                <p>Author: @book.Autheur</p>
                <p>Price: @book.Prix</p>
                <p>Content: @book.Contenu</p>
                <p>Genres: @string.Join(", ", book.Genres.Select(g => g.GenreLitteraire))</p>
                
            </li>
        }
    </ul>
</div>


