@using ASP.Server.Model
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="listeBooks">
    <h1>Liste des livres:</h1>
    <ul>
        @foreach (var book in Model)
        {
            <li>
                <h2>@book.Nom</h2>
                <p>Author: @book.Auteur</p>
                <p>Price: @book.Prix</p>
                <p>Content: @book.Contenu</p>
                <p>Genres: @string.Join(", ", book.Genres.Select(g => g.GenreLitteraire))</p>
                <form asp-action="DeleteBook" asp-controller="Book">
                    <input type="hidden" name="id" value="@book.Id" />
                    <button type="submit">Supprimer</button>
                </form>
            </li>
        }
    </ul>
</div>